@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main(title = "Home") {
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
    </nav>
    <div class="container">
        <div class="starter-template"> 
            <h1>ToDo List:</h1> 
            <table class="table">
                <thead> 
                    <tr> 
                        <th class="text-center">#</th> 
                        <th class="text-center">Done</th> 
                        <th class="text-center">Action</th> 
                    </tr> 
                </thead>
                <tbody>
                <tr>
                    <td>-</td>
                    <td><input type="checkbox"></td>
                    <td>
                        <form action="/" id="addToDoEntryForm" class="input-group">
                            <input type="text" class="form-control" id="textToSubmit" placeholder="Type action here...">
                              <span class="input-group-btn">
                                <input class="btn btn-default" type="submit" id="addButton" value="Add"></input>
                              </span>
                        </form>
                    </td>
                </tr>
            </tbody>
            </table>
          
    </div>
}
