@(todoList: List[Todo])

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main(title = "ToDo List") {
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">ToDo List</a>
        </div>
    </div>
    </nav>
    <div class="container">
        <div class="starter-template"> 
            <h1>ToDo List:</h1> 
            <table class="table table-hover todo-table">
                <thead> 
                    <tr> 
                        <th class="text-center">Done</th> 
                        <th class="text-center">Action</th> 
                        <th></th> 
                    </tr> 
                </thead>
                <tbody id="insert-here">
                    @for(todo <- todoList) {
                        <tr class="todo-row" entryId="@todo.id">
                            <!-- autocomplete=off turns off cache of checkbox state -->
                            <td class="col-md-1"><input autocomplete="off" class="done-checkbox" type="checkbox" @if(todo.done) {checked}></td>
                            <td class="todo-text" style="text-decoration:@if(todo.done){line-through} else {none};"> @todo.text </td>
                            <td class="col-md-1"><span class="glyphicon glyphicon-remove delete-button"></span></td>
                        </tr>
                    }
            </tbody>
            </table>
            <form action="/" id="add-form" class="input-group">
                <input type="text" class="form-control" id="textToSubmit" placeholder="Type action here...">
                  <span class="input-group-btn">
                    <input class="btn btn-default" type="submit" id="addButton" value="Add">
                  </span>
            </form>
        </div>
    </div>
}
