@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <script data-main="@routes.Assets.versioned("javascripts/main.js")" 
                type="text/javascript" 
                src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>
            @helper.javascriptRouter("jsRoutes")(
                routes.javascript.ToDoController.getTodos,
                routes.javascript.ToDoController.addTodo
            )
    </head>
    <body>
        @content
        <!--script type="text/javascript" src="@routes.Assets.versioned("lib/jquery/jquery.js")"></script-->
        <!--script type="text/javascript" src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")"></script-->
    </body>
</html>
